<h1>Uma nova vaga foi pública em nossa plataforma</h1>

<p>
  Veja na plataforma se ela interessa a você, mas não esqueça de compartilhar com um amigo, isso ajuda demais!

  <a href="https://tramposdebelem-frontend.000webhostapp.com/">
    SmallDev-Jobs
  </a>
</p>
